
/* Bootstrap
-------------------------------------------------------------------------------*/
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


/* Responsive
-------------------------------------------------------------------------------*/

@media only screen and (max-width: 1180px) {
    @import '960';
}

@media only screen and (max-width: 959px) {
    @import '768';
}

@media only screen and (max-width: 767px) {
    @import '640';
}

@media only screen and (max-width: 639px) {
    @import '480';
}

@media only screen and (max-width: 479px) {
    @import '320';
}